<div class="dashboard-page">
    <div class="card">
        <!-- <div class="hero-standout">
            <small class="hero-standout-text">Silviu Costache</small>
            <span class="dot"></span>
            <small class="hero-standout-text">Web developer</small>
            <span class="dot"></span>
            <small class="hero-standout-text">Bucharest, Romania</small>
        </div> -->

        <h1>Developer's dashboard</h1>
        <small>I'm involved in every step of the software delivery process..</small>
    </div>


    <div class="card">

    </div>
</div>