<div class="projects__page">
    <section class="projects__header">
        <h1 class="projects__title">Proiecte</h1>
        <div class="projects__count">5 / {{projects.length}}</div>
    </section>

    <section class="projects__filters">
        <div class="projects__search">
            <p-inputgroup>
                <!-- <p-inputgroup-addon>
                    <svg data-p-icon="user" />
                </p-inputgroup-addon> -->
                <input pInputText [(ngModel)]="searchText" placeholder="Username" />
            </p-inputgroup>
        </div>
        <div class="projects__status_filters"></div>
    </section>

    <section class="projects__grid">
        Project cards
    </section>
</div>