<nav>
    <div class="logo">
        <div class="hero-letters">
            SC
        </div>
        <div class="hero">
            <div class="hero-name">
                Silviu Costache
            </div>
            <div class="hero-role">
                Web developer
            </div>
        </div>

    </div>

    <div class="nav-links">
        <div class="link" routerLink="/">
            <div class="link-main">
                <div class="icon">
                    <svg data-p-icon="objects-column" [size]="16"></svg>
                </div>
                <div class="link-text">
                    Dashboard
                </div>
            </div>
            <div class="link-count">
                3
            </div>
        </div>
        <div class="link" routerLink="projects">Projects</div>
        <div class="link" routerLink="articles">Articles</div>
        <div class="link" routerLink="resources">Resources</div>
    </div>

    <div class="contact">
        <span>Contact</span>

        <div class="links">
            <a>github.com/george-silviu</a>
            <a>in/george-silviu</a>
            <a>georgesilviu.costache@gmail.com</a>
        </div>
    </div>

</nav>