<nav>
    <div class="logo">
        <div class="hero-letters">
            SC
        </div>
        <div class="hero">
            <div class="hero-name">
                Silviu Costache
            </div>
            <div class="hero-role">
                Web developer
            </div>
        </div>

    </div>

    <div class="nav-links">
        @for(navlink of navLinks; track navlink.pageName){
        <a class="link" [routerLink]="navlink.navigateTo" routerLinkActive="active-link"
            [routerLinkActiveOptions]="navlink.pageName === 'Dashboard' ? {exact:true} : {exact:false}">
            <div class="link-main">
                <div class="icon">
                    <ng-container *ngComponentOutlet="navlink.icon">
                    </ng-container>
                </div>
                <div class="link-text">
                    {{navlink.pageName}}
                </div>
            </div>
            @if(navlink.count > 0){
            <div class="link-count">
                {{navlink.count}}
            </div>
            }
        </a>
        }
    </div>

    <div class="contact">
        <span>Contact</span>
        <div class="contact-links">

            <div class="c-link">
                <svg data-p-icon="github" [size]="16"></svg>
                <a href="https://github.com/george-silviu" target="_blank">github.com/george-silviu</a>
            </div>

            <div class="c-link">
                <svg data-p-icon="linkedin" [size]="16"></svg>
                <a href="https://www.linkedin.com/in/george-silviu-costache-285050167/"
                    target="_blank">in/george-silviu</a>
            </div>
            <div class="c-link">
                <svg data-p-icon="address-book" [size]="16"></svg>
                <a>georgesilviu.costache@gmail.com</a>
            </div>
        </div>
    </div>
</nav>