<nav>
    <div class="logo">
        <div class="hero-letters">
            SC
        </div>
        <div class="hero">
            <div class="hero-name">
                Silviu Costache
            </div>
            <div class="hero-role">
                Web developer
            </div>
        </div>

    </div>

    <div class="nav-links">
        <div>Dashboard</div>
        <div>Projects</div>
        <div>Articles</div>
    </div>

    <div class="contact">
        <span>Contact</span>

        <div class="links">
            <a>github.com/george-silviu</a>
            <a>in/george-silviu</a>
            <a>georgesilviu.costache@gmail.com</a>
        </div>
    </div>

</nav>