@use "../styles/variables" as v;

.header {
  position: relative;
  background-color: v.$primary-bg-color;
  width: 100vw;
  border-bottom: 1px solid gray;
  display: flex;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding-left: 15%;
  }

  .nav-right {
    padding-right: 15%;
    display: flex;
    gap: 10px;

    .nav-item {
      cursor: pointer;
    }
  }
}
