// =============================================================
// MAIN APP STYLES ENTRY POINT
// =============================================================

@use "./styles/styles.scss";

// =============================================================
// APP SPECIFIC STYLES
// =============================================================

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  box-sizing: border-box;
}
