<div class="note__card">

    <div class="note__icon">
        <svg data-p-icon="pen-to-square" [size]="24"></svg>
    </div>

    <div class="note__header">
        <span class="note__name">
            Why I draw borders with box-shadow
        </span>
        <p class="note__desc">
            Drag-and-drop JSON form builder with schema validation an live preview
        </p>
    </div>

    <div class="note__details">
        <div class="note__tags">
            <div class="tag">Angular</div>
            <div class="tag">CSS</div>
        </div>

        <div class="note__timeframe">
            <div class="note__date">
                02.12.2026
            </div>
            <div> - </div>
            <div class="note__read__time">
                9 min
            </div>
        </div>
    </div>


</div>